*{
    margin:0;
    padding: 0;
}

body {
    
    min-height: 100dvh;
    background-color: #ebecec;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;    
}

.box{
    background-color: #5d5d5e;
    border: 5px solid black;
}

.item{
    width: 100px;
    height: 100px;
    background-color: #3a3a3a;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid black;
    
}

.grid_container{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px;
     grid-template-rows: 300px 300px 300px 300px 300px;
     gap:0.5em;     
     grid-template-areas: "box-1 box-2 box-3 box-4 box-4"
                          "box-1 box-2 box-3 box-4 box-4"                          
                          "box-6 box-7 box-3 box-5 box-10"
                          "box-6 box-8 box-9 box-9 box-10";

    }











